
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dancing+Script:wght@400;500&family=Fredoka+One&family=Lora:ital@1&family=Merienda&family=Noto+Serif+Gujarati:wght@300&family=Orbitron&family=Poppins&family=Roboto&family=Space+Grotesk&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alfa Slab One", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Fredoka One", cursive;
  font-family: "Lora", serif;
  font-family: "Noto Serif Gujarati", serif;
  font-family: "Orbitron", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Space Grotesk", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}
.logo-img{
  width:60px;
}
.trolley{
  width: 40px;
}
.cart-num{
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 14px;
  color: black;
  border-radius: 20px;
}
.other {
  font-size: 17px;
  font-weight: bold;
}

.child h3 {
  background-color: #e57a10;
  width: 300px;
  height: 300px;
  margin: 0 20px;
  text-align: center;
}
.child h3 {
  margin-left: 20px;
}
.child2 {
  background-color: #0d0b09;
  width: 300px;
  height: 300px;
  margin-left: 20px;
}
.carousel-container {
  padding: 0 2rem;
}
.mob-art{
  display:none;

}
.other a {
  color: #000;
  margin-right: 10px;
}
.slider {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
.slider .child {
  width: 50%;
}

.restaurant-list {
  width: 100%;
  margin-top: 0;
  padding: 20px;
  background-color: #fcdcd8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 280px;
  height: 420px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  transition: 0.5s all;
  cursor: pointer;
  margin: 10px;
  background-color: white;
}
.card:hover {
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
}
.card-img {
  height: 200px;
  object-fit: cover;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.f-name {
  font-size: 22px;
  margin: 10px 0;
  margin-left: 9px;
  font-weight: 600;
  color: black;
}
.cuisnines {
  font-size: 15px;
  margin: 7px 9px;
  color: #6b6e7b;
}
.rate {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #000;
}
.time,
.price {
  font-size: 14px;
  color: black;
}
.star-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
}
.star {
  width: 20px;
  margin-right: 3px;
}
.offer {
  display: flex;
  width: 100%;
  font-size: 15px;
  margin-top: 7px;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #a12a03;
  margin-left: 0;
}
.delivery {
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 15px;
  text-align: center;
  color: #a12a03;
}
.search-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
}
.search-input-box {
  width: 700px;
  padding: 12px 10px;
  border: 1px solid gray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.bs-search {
  font-size: 20px;
  color: white;
}
.search-button {
  padding: 12px 10px;
  cursor: pointer;
  background-color: #e57a10;
  border: none;
}

.bir-img {
  width: 70px;
  margin-left: 9px;
  cursor: pointer;
}
.pop-p {
  font-size: 35px;
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
}
.popular-cuisines {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #fff;
}

@media (max-width: 1082px) and (min-width: 962px) {

  .other,
  .add {
    font-size: 13px;
  }
}
@media (max-width: 962px) and (min-width: 768px) {
 
  .bir-img {
    width: 55px;
  }
  .search-input-box {
    width: 500px;
  }
 
  .other,
  .add {
    font-size: 13px;
  }
}
@media screen and (max-width:768px)
{
  .logo-img{
    width:50px;
  }
  .mob-art{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) and (min-width: 600px) {
  .trolley{
    width: 30px;
  }
 
  .pop-p {
    font-size: 30px;
  }
  .f-name {
    font-size: 18px;
  }
  .cuisnines {
    font-size: 14px;
  }
  .rate,
  .time,
  .price {
    font-size: 13px;
  }
  .offer,
  .delivery {
    font-size: 13px;
  }
  .bir-img {
    width: 44px;
  }
  .search-input-box {
    width: 400px;
  }
  .other,
  .add {
    font-size: 12px;
  }
 
}

@media (max-width: 600px) and (min-width: 500px) {

  .trolley{
    width: 30px;
  }
  .other,
  .add {
    font-size: 12px;
  }
  .bir-img {
    width: 42px;
  }
  .pop-p {
    font-size: 20px;
  }
  .search-input-box {
    width: 300px;
    padding: 10px 9px;
    font-size: 16px;
  }
  .search-button {
    padding: 10px 9px;
  }

  .f-name {
    font-size: 18px;
  }
  .cuisnines {
    font-size: 14px;
  }
  .rate,
  .time,
  .price {
    font-size: 13px;
  }
  .offer,
  .delivery {
    font-size: 13px;
  }
}
@media (max-width: 500px) and (min-width: 400px) {
  .trolley{
    width: 30px;
  }
  .other,
  .add {
    font-size: 12px;
  }

  .bir-img {
    width: 35px;
  }
  .pop-p {
    font-size: 20px;
  }
  .search-input-box {
    width: 300px;
    padding: 10px 9px;
    font-size: 16px;
  }
  .search-button {
    padding: 10px 9px;
  }
 
  .f-name {
    font-size: 18px;
  }
  .cuisnines {
    font-size: 14px;
  }
  .rate,
  .time,
  .price {
    font-size: 13px;
  }
  .offer,
  .delivery {
    font-size: 13px;
  }
}
@media (max-width: 400px) and (min-width: 300px) {
  body {
    overflow-x: hidden;
  }

  .other,
  .add {
    font-size: 12px;
  }
  .trolley{
    width: 30px;
  }
 
  .bir-img {
    width: 30px;
  }
  .pop-p {
    font-size: 20px;
  }
  .search-input-box {
    width: 300px;
    padding: 10px 9px;
    font-size: 16px;
  }
  .search-button {
    padding: 10px 9px;
  }
 
  .f-name {
    font-size: 18px;
  }
  .cuisnines {
    font-size: 14px;
  }
  .rate,
  .time,
  .price {
    font-size: 13px;
  }
  .offer,
  .delivery {
    font-size: 13px;
  }
}
