
h2, .g-price {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  
  .g-price {
    margin: 8px 0;
  }
  .item-desc{
    font-size: 12px;
  }
  ul {
    padding: 0;
    list-style: none;
  }
  /**
 * Fancy border
 * ============
*/

.menu-item {
  border: 25px solid #B88846;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}
  .menu-item {
    background: #0B1319;
    margin: 30px 10px;
    color:white;
     position: relative; 
     display:flex;
     align-items:center;
     width: 700px;

  }

  .menu-item img {
    min-width: 70px;
    max-width: 150px;
    position: absolute;
    left: 10px;
     border-radius: 10px;
  }
  .menu-item .add-button {
    position: absolute;
    border: none;
    background: #6B00F5;
    padding: 5px 12px 5px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    bottom: -10px;
    left: 180px;
    transition: all 0.3s;
  }
  .menu-item .add-button:hover {
    background: #5815AE;
  }
  
  .menu-item-dets {
    margin-left: 180px;
    padding-bottom: 15px;

  }
  
  .menu-item-heading {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0 12px;

  }
  
 
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(10px);
    }
    to {
      opacity: 1;
      transform: translate(0);
    }
  }
  
  
  @media  (max-width: 1082px) and (min-width: 962px){
    .menu-item img{
      left: 10px;
     
    }
    .menu-item{
      width: 650px;
      
  }
  
  }
  
  @media  (max-width: 962px) and (min-width: 768px) {
    .menu-item img{
      left: 10px;

    }
    .menu-item{
      width: 570px;
      
  }
  }
   
  @media  (max-width: 768px) and (min-width: 600px) {
    .menu-item img{
      left: 10px;

    }
    .menu-item{
      width: 550px;
      
  }
  h2, .g-price{
    font-size: 30px;
  }
  }
  @media  (max-width: 600px) and (min-width: 500px)
  {.menu-item img{
    left: 10px;

  }
  .menu-item{
    width: 400px;
    
}
.menu-item-heading{
  font-size: 18px;
}
h2, .g-price{
  font-size: 20px;
}

  }
 @media  (max-width: 500px) and (min-width: 400px)
 {.menu-item img{
  left: 10px;
  min-width: 30px;
  max-width: 100px;
}

.menu-item{
  width: 350px;
}
.menu-item-heading{
font-size: 13px;
}
.menu-item-dets {
  margin-left: 120px;
  padding-bottom: 15px;

}
h2, .g-price{
font-size: 17px;
}
.menu-item .add-button {
  color: #fff;
  background: #6b00f5;
  border: none;
  border-radius: 20px;
  padding: 4px 18px 4px;
  font-size: 13px;
  font-weight: 700;
  transition: all .3s;
  position: absolute;
  bottom: -10px;
  left: 110px;

 }
 .menu-item img {
  min-height: 70px;
  max-height: 100px;
   left: 10px; 
   border-radius: 10px;
}
}
@media  (max-width: 400px) and (min-width: 300px)
{.menu-item img{
 min-width: 30px;
 max-width: 110px;
   left: 80px;
  bottom: 50%;
}
.menu-item{
 width: 320px;
}

.menu-item-heading{
  font-size: 14px;
  text-align: center;
  margin-left: 10px;
 margin-bottom: 5px;

  }
  .menu-item-dets {
    margin-top: 110px;
    margin-left: 15px;

  }
h2, .g-price{
font-size: 17px;
text-align: center;
}
.menu-item .add-button {
  color: #fff;
  background: #6b00f5;
  border: none;
  border-radius: 20px;
  padding: 3px 12px;
  font-size: 15px;
  font-weight: 700;
  transition: all .3s;
  position: absolute;
  bottom: -10px;
  left: 100px;
}


}