
.shine {
 background: #f6f7f8;
 background-image: linear-gradient(to right, #f6f7f8 10%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
 background-repeat: no-repeat;
 /* background-size: 800px 104px;  */
 display: inline-block;
 position: relative; 
 
 animation-duration: 1s;
 animation-fill-mode: forwards; 
animation-iteration-count: infinite;
 animation-name: placeholderShimmer;
 animation-timing-function: linear;
 }

#box1,#box2 {
 height: 250px;
 width: 350px;
 border: 1px solid silver;
 border-radius: 10px;
 
 animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #50535a;
  background-image: linear-gradient(to right, #50535a 0%, #656871 20%, #50535a 40%, #50535a 100%);
  background-repeat: no-repeat;
}
.lineSeries{
  display: flex;
  flex-direction: column;
}
.first-divgi {
 display: flex;
 justify-content: space-around;
 align-items: center;
 width:100%;
 height: 320px;
 background-color: #313236;
}

#line1,#line2,#line3 {
 height: 10px;
 margin-top: 10px;
 width: 500px; 
 border: 1px solid silver;
 animation-duration: 1s;
 animation-fill-mode: forwards;
 animation-iteration-count: infinite;
 animation-name: placeHolderShimmer;
 animation-timing-function: linear;
 background: #50535a;
 background-image: linear-gradient(to right, #50535a 0%, #656871 20%, #50535a 40%, #50535a 100%);
 background-repeat: no-repeat;
}
.shimme{
  background-color: #313236;
}
.first-divgi2{
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #313236;
}
#photo10,#photo20{
  width: 500px;
  height: 100px;
  border-radius: 20px;
  margin: 15px 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #50535a;
  background-image: linear-gradient(to right, #50535a 0%, #656871 20%, #50535a 40%, #50535a 100%);
  background-repeat: no-repeat;
  /* background-size: 800px 104px; */
  /* height: 104px; */
  position: relative
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}


 
@-webkit-keyframes placeholderShimmer {
 0% {
   background-position: -468px 0;
 }
 
 100% {
   background-position: 468px 0; 
 }
}

@media (max-width:962px) and (min-width:600px){
.first-divgi{
  display: flex;
  align-items: center;
  width:100%;
  height: 380px;
  background-color: #313236;

}
#line1,#line2,#line3 {
  width: 200px;
}

}
@media (max-width:600px) and (min-width:400px){
  .first-divgi{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
    height: 380px;
    background-color: #313236;
    
  }
  #line1,#line2,#line3 {
    width: 300px;
  }
  #photo10,#photo20{
    width: 390px;
    height: 90px;
  }
  
  }

  @media (max-width:400px) and (min-width:300px){
    .first-divgi{
      display: flex;
      align-items: center;
      flex-direction: column;
      width:100%;
      height: 380px;
      background-color: #313236;
  
    }
    #line1,#line2,#line3 {
      width: 250px;
    }
    #photo10,#photo20{
      width: 300px;
      height: 90px;
    }
    #box1{
      width: 300px;
    }
    }